
.project-2{
    font-size: large;
}

.main-info{
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column-reverse; 
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.input-fields{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    font-size: large;
    font-weight: 500;
}

.input-field{
    margin-left: 2vw;
    margin-right: 2vw;
}

.input-field input{
    width: 25vw;
}

.charts{
    display: flex;
}

.construction-cards{
    width: 90vw;
    height: auto;
    display: grid;
    grid-template:  "a a"
                    "a a";
    margin: auto;
}

.construction-card{
    margin: 2vh 5vw;
}

p{
    margin: 0;
    padding: 0;
}
h4{
    font-size: large;
    margin-bottom: 5px;
}
h5{
    font-size: medium;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 2px;
}

.get-results{
    height: 10vh;
    width: auto;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.result{
    width: 80vw;
    height: auto;
    text-align: center;
    margin: auto;
    padding: 1%;
    font-weight: 500;

    border: 1px #646cff solid;
    border-radius: 12.5px;
}